{% extends 'base.html.twig' %}

{% block title %}FreshBurst - Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.name) }}
        {{ form_row(form.address) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}
    <a href="{{ path('app_home') }}">Retour à l'accueil</a>
{% endblock %}