{% extends 'base.html.twig' %}

   {% block title %}FreshBurst - Inscription{% endblock %}

   {% block body %}
       <h1>Inscription</h1>
       {{ form_start(registrationForm) }}
           {{ form_errors(registrationForm) }} <!-- Affiche les erreurs globales (comme UniqueEntity) -->
           {{ form_row(registrationForm.email) }}
           {{ form_row(registrationForm.name) }}
           {{ form_row(registrationForm.address) }}
           {{ form_row(registrationForm.plainPassword.first) }}
           {{ form_row(registrationForm.plainPassword.second) }}
           <button type="submit">S'inscrire</button>
       {{ form_end(registrationForm) }}
       <p>Déjà inscrit ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
   {% endblock %}