{% extends 'base.html.twig' %}

{% block title %}FreshBurst - {{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
    <a href="{{ path('admin_products') }}">Retour à la liste</a>
{% endblock %}